// main rules go here
// another generic comment
.title {
    font-family: $main-font;
    text-align: center;
    color: $main-text-color;
    background-color: #357e85;
    height: 200%;
    margin: 0 auto;
    padding: 50px;
    justify-content: center;
}

body {
    font-family: $main-font;
    font-size: $main-font-size;
    background-color: $main-bg-color;
    margin: 0 0 50px 0;
    border: 0;
}

.box {
    width: 30px;
    height: 30px;
    @include roundCorners(20px);
}

.box2 {
    width: 30px;
    height: 30px;
    @include roundCorners(50%);
}